@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url('/Users/prsingh65/Downloads/crud_operation-main/crud_operation/frontend/src/LoginForm/background_image.jpeg') ; */
    background-image: url('/Users/prsingh65/Downloads/crud_operation-main/crud_operation/frontend/src/LoginForm/background_image 3.57.44 PM.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mywrapper{
 width: 500px;
 height: 800px;
 background:transparent;
 border: 2px solid rgba(255, 255, 255, .2);
 backdrop-filter: blur(30px);
 box-shadow: 0 0 10px rgba(0, 0, 0, .2);
 color:#fff;
 padding: 30px 40px;


}
.mywrapper h1{
    font-size: 36px;
    text-align: center;
}

.mywrapper .input-box{
    position: relative ;
    width: 100%;
    height: 50px;
    background:rgba(255, 255, 255, .2);
    margin: 30px 0;
    border-radius: 50px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(red, green, blue, .2);
    border-radius:40px;
    font-size: 16px;
    color: whitesmoke;
    padding: 20px 40px 20px 20px;
}

.input-box input::placeholder{
    color:whitesmoke;
}

.input-box .icon{
    position:absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

}

.mywrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
 accent-color: whitesmoke;
 margin-right: 4px;

}
.remember-forgot a {
    color: whitesmoke;
    text-decoration: none;
}

.remember-forgot a:hover{
text-decoration: underline;


}

.mywrapper button{
    width: 100%;
    height: 45px;
    background: whitesmoke;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(red, green, blue, .2);
    cursor: pointer;
    font-size: 16px;
    color: slateblue;
    font-weight: 700;
    

}

.mywrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0px 15px;
    color: whitesmoke;
}
.register-link p a {
 color: whitesmoke;

}
.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.register-link p a  :hover{
    text-decoration:underline;
}
