
body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url('/Users/prsingh65/Downloads/crud_operation-main/crud_operation/frontend/src/LoginForm/background_image.jpeg') ; */
    background-image: url('/Users/prsingh65/Downloads/crud_operation-main/crud_operation/frontend/src/LoginForm/photo-1519681393784-d120267933ba.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapped1{
    width: fit-content;
    height: fit-content;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color:#fff;
    padding: 30px 40px;
   
   
   }




.p {
    font-size: 16px;
}



